header 
    i.fa-solid.fa-sliders.toggle-slide
    i.fa-solid.fa-bell.notification-container
        section.notification
            .noti-head 
                p notification 
                span 50
            .noti-content 
                li 
                    i.fa-solid.fa-envelope
                    span you get email from bla bla
                li 
                    i.fa-regular.fa-money-bill-1
                    span you get money from bla bla
                li 
                    i.fa-solid.fa-thumbs-up
                    span you get like from bla bla
                li 
                    i.fa-solid.fa-comment
                    span you get comment from bla bla
                li 
                    i.fa-solid.fa-share
                    span you get share from bla bla
            .noti-footer.text-center: a(href="#") view all notification