.sidebar
    .logo-area: h3 Hesham
    ul.links-area.list 
        li: a(href="#" class="parent-link") HomePage 
        li
            a(href="#" class="parent-link link1") Forms
            ul.child-links1.list-unstyled
                li: a(href="#") input
                li: a(href="#") textarea
                li: a(href="#") checkbox
                li: a(href="#") radio
        li
            a(href="#" class="parent-link link2") misc
            ul.child-links2.list-unstyled 
                li: a(href="#") loding
                li: a(href="#") portfolio