header 
    i.fa-solid.fa-sliders.toggle-slide
    i.fa-solid.fa-bell.notification-container
        section.notification
            .noti-head 
                p notification 
                span 50
            .noti-content 
                li 
                    i.fa-solid.fa-envelope
                    span you get email from bla bla
                li 
                    i.fa-regular.fa-money-bill-1
                    span you get money from bla bla
                li 
                    i.fa-solid.fa-thumbs-up
                    span you get like from bla bla
                li 
                    i.fa-solid.fa-comment
                    span you get comment from bla bla
                li 
                    i.fa-solid.fa-share
                    span you get share from bla bla
            .noti-footer.text-center: a(href="#") view all notification
    .user-pic
        img(src="../img/avatar.png")
        .user
            .user-header 
                h3 #{owner}
                p #{career}
            hr
            .user-content
                p added comment on post "how to make bla bla bla"
                p created post on "elzero web school"
                p created chart on charts page 
                p added like on post "haidy hassen"
            hr
            .user-footer
                ul.user-links.container
                    li.border
                        i.fa-solid.fa-gear
                        span settings
                    li.border
                        i.fa-solid.fa-user
                        span my profile
                    li.border
                        i.fa-solid.fa-right-from-bracket
                        span logout