.settings 
    .parent-gear
        i.fa-solid.fa-gear
    .content-gear 
        .options-box.colors 
            h3 color options
            ul 
                li.green
                li.blue
                li.red
        .options-box.fonts 
            h3 font options
        .options-box.sidebar-options
            h3 sidebar options