$blue-color:#2980B9;
$blue-color-alt:#3498DB;




$orange-color:#E67E22;
$orange-color-alt:#D35400;


$green-color:#27AE60;
$green-color-alt:#2ECC71;



$red-color:#E74C3C;
$red-color-alt:#C0392B;


$white-color:#ECF0F1;
$white-color-alt:#BDC3C7;

$gray-color:#95A5A6;
$gray-color-alt:#7F8C8D;