$themes: (
    green-theme:(like: #27ae60),
    blue-theme: (like: #2980b9),
    red-theme: (like: #c0392b),
);

@each $theme,$map in $themes {
    .#{$theme} {
        .classname {
            color: map-get($map, color);
        }
    }
}