- var pageTitle = 'HomePage'
- var owner = "Hesham Ali"
- var career = "Frontend Developer"


doctype html
html(lang="en")
    head
        include pug/layouts/meta
        include pug/layouts/links
    body 
        .page.home-page
            include pug/layouts/sidebar  
            .content-area 
                include pug/layouts/header
                .container-fluid
                    .content
                        h1 #{owner}
                        p.opacity-50.ps-3 #{career}
            include pug/layouts/scripts 
