body{
background-color: #3c413f !important;
color:#1da756 !important;
}
.page{
    min-height: 100vh;
    .content-area{
        float: right;
        width: calc(100% - 250px);
        min-height: 100%;
        transition: 0.6s;
        will-change: width;
        // border: 1px solid red;
        &.no-sidebar{
            width: 100%;
        }
        .toggle-slide{
            font-size: 20px;
        }
    }
}
a{
    text-decoration: none;
}